{% extends 'base.html' %}

{% block title %}
Adicionar Peca a Manutencao
{% endblock title %}

{% block body %}

<h1>Adicionar Peca Usada na Manutencao</h1>

{% if manutencao_selecionada %}
    <p><strong>Manutencao:</strong> {{ manutencao_selecionada }}</p>
{% endif %}

<form method="post">
    {% csrf_token %}

    {{ form.as_p }}

    <button type="submit">Salvar</button>
</form>

<p>
    {% if manutencao_selecionada %}
        <a href="{% url 'manutencao_web:detalhe' manutencao_selecionada.pk %}">Voltar</a>
    {% else %}
        <a href="{% url 'manutencao_web:pecas_manutencao_lista' %}">Voltar</a>
    {% endif %}
</p>

{% endblock body %}
